ZigZagGame/ZigZag Game/Assets/Standard Assets/Vehicles/Aircraft/Textures/AircraftFuselageNormals.png
ZigZagGame/ZigZag Game/Assets/Standard Assets/Vehicles/Aircraft/Textures/AircraftFuselageNormals.png.meta
